{{ define "title"}}Log In{{ end }}
<div class="container">

    <form action="" class="form-signin" method="post">
        <h2 class="form-signin-heading">Log In</h2>
        <label class="sr-only" for="inputUsername">Username</label>
        <input autofocus class="form-control" id="inputUsername" name="username" placeholder="Username" required
               type="text">
        <label class="sr-only" for="inputPassword">Password</label>
        <input class="form-control" id="inputPassword" name="password" placeholder="Password" required type="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        <p>Don't have an account yet? <a>Register</a>
    </form>

</div> <!-- /container -->